#logoimg{
width: 60px;

}
.logo{
    color:yellow;
}
.navbarlink{
    margin-left: 20px;
    color: yellow;
}

body{
    width: 98.9%;
    height: 100vh;
    background-image: url('images/aa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.im{
    width: 100%;
    height: 100vh;
}
.img-about{
    width: 500px;
}